n8n_workflow_structurizr_to_drawio.json
{
  "name": "Convert Structurizr JSON to Draw.io XML",
  "nodes": [
    {
      "parameters": {
        "fileName": "pg_icepanel_c4.json",
        "options": {}
      },
      "id": "read-json-file",
      "name": "Read JSON File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse Structurizr JSON and convert to Draw.io XML format\nconst jsonData = JSON.parse($input.item.json.data);\n\n// Helper function to escape XML\nfunction escapeXml(unsafe) {\n  return unsafe.replace(/[<>&'\"\\x00-\\x1F\\x7F]/g, (c) => {\n    const map = {\n      '<': '&lt;',\n      '>': '&gt;',\n      '&': '&amp;',\n      \"'\": '&apos;',\n      '\"': '&quot;'\n    };\n    return map[c] || '&#' + c.charCodeAt(0) + ';';\n  });\n}\n\n// Generate unique IDs for draw.io cells\nlet cellIdCounter = 0;\nfunction getNextCellId() {\n  cellIdCounter++;\n  return cellIdCounter.toString();\n}\n\n// Track element positions\nlet xPos = 50;\nlet yPos = 50;\nconst xStep = 250;\nconst yStep = 150;\nlet currentX = xPos;\nlet currentY = yPos;\n\n// Store element mappings (Structurizr ID -> Draw.io cell ID)\nconst elementMap = {};\nconst cells = [];\n\n// Root cell\nconst rootCellId = getNextCellId();\ncells.push({\n  id: rootCellId,\n  value: '',\n  parent: '0',\n  style: 'pointerEvents=1;shadow=0;dashed=0;html=1;labelPosition=center;verticalLabelPosition=bottom;verticalAlign=top;align=center;fillColor=#f5f5f5;strokeColor=none;',\n  vertex: true,\n  geometry: { x: 0, y: 0, width: 2000, height: 2000 }\n});\n\n// Process People\nif (jsonData.model.people) {\n  jsonData.model.people.forEach((person, index) => {\n    const cellId = getNextCellId();\n    elementMap[person.id] = cellId;\n    \n    const style = person.location === 'External' \n      ? 'shape=umlActor;verticalLabelPosition=bottom;verticalAlign=top;html=1;outlineConnect=0;fillColor=#dae8fc;strokeColor=#6c8ebf;' \n      : 'shape=umlActor;verticalLabelPosition=bottom;verticalAlign=top;html=1;outlineConnect=0;fillColor=#d5e8d4;strokeColor=#82b366;';\n    \n    cells.push({\n      id: cellId,\n      value: escapeXml(person.name) + (person.description ? '\\n' + escapeXml(person.description) : ''),\n      parent: rootCellId,\n      style: style,\n      vertex: true,\n      geometry: { \n        x: currentX, \n        y: currentY, \n        width: 120, \n        height: 80 \n      }\n    });\n    \n    currentX += xStep;\n    if ((index + 1) % 4 === 0) {\n      currentX = xPos;\n      currentY += yStep;\n    }\n  });\n  currentY += yStep;\n  currentX = xPos;\n}\n\n// Process Software Systems\nif (jsonData.model.softwareSystems) {\n  jsonData.model.softwareSystems.forEach((system, index) => {\n    const cellId = getNextCellId();\n    elementMap[system.id] = cellId;\n    \n    const style = system.location === 'External'\n      ? 'rounded=1;whiteSpace=wrap;html=1;fillColor=#fff2cc;strokeColor=#d6b656;'\n      : 'rounded=1;whiteSpace=wrap;html=1;fillColor=#d5e8d4;strokeColor=#82b366;';\n    \n    cells.push({\n      id: cellId,\n      value: escapeXml(system.name) + (system.description ? '\\n' + escapeXml(system.description) : ''),\n      parent: rootCellId,\n      style: style,\n      vertex: true,\n      geometry: { \n        x: currentX, \n        y: currentY, \n        width: 200, \n        height: 100 \n      }\n    });\n    \n    // Process Containers\n    if (system.containers && system.containers.length > 0) {\n      let containerY = currentY + 120;\n      system.containers.forEach((container, cIndex) => {\n        const containerCellId = getNextCellId();\n        elementMap[container.id] = containerCellId;\n        \n        cells.push({\n          id: containerCellId,\n          value: escapeXml(container.name) + (container.description ? '\\n' + escapeXml(container.description) : ''),\n          parent: cellId,\n          style: 'rounded=1;whiteSpace=wrap;html=1;fillColor=#dae8fc;strokeColor=#6c8ebf;',\n          vertex: true,\n          geometry: { \n            x: currentX + 20, \n            y: containerY, \n            width: 160, \n            height: 80 \n          }\n        });\n        \n        // Process Components\n        if (container.components && container.components.length > 0) {\n          let componentY = containerY + 100;\n          container.components.forEach((component, compIndex) => {\n            const componentCellId = getNextCellId();\n            elementMap[component.id] = componentCellId;\n            \n            cells.push({\n              id: componentCellId,\n              value: escapeXml(component.name) + (component.description ? '\\n' + escapeXml(component.description) : ''),\n              parent: containerCellId,\n              style: 'rounded=1;whiteSpace=wrap;html=1;fillColor=#ffe6cc;strokeColor=#d79b00;',\n              vertex: true,\n              geometry: { \n                x: currentX + 40, \n                y: componentY, \n                width: 120, \n                height: 60 \n              }\n            });\n            \n            componentY += 80;\n          });\n        }\n        \n        containerY += 100;\n      });\n    }\n    \n    currentX += xStep * 2;\n    if ((index + 1) % 3 === 0) {\n      currentX = xPos;\n      currentY += yStep * 2;\n    }\n  });\n}\n\n// Process Relationships\nif (jsonData.model.relationships) {\n  jsonData.model.relationships.forEach((rel) => {\n    const sourceId = elementMap[rel.sourceId];\n    const targetId = elementMap[rel.destinationId];\n    \n    if (sourceId && targetId) {\n      const edgeId = getNextCellId();\n      \n      cells.push({\n        id: edgeId,\n        value: escapeXml(rel.description || ''),\n        parent: rootCellId,\n        style: 'edgeStyle=orthogonalEdgeStyle;rounded=0;orthogonalLoop=1;jettySize=auto;html=1;strokeColor=#666666;',\n        edge: true,\n        source: sourceId,\n        target: targetId,\n        geometry: { relative: true, as: 'geometry' }\n      });\n    }\n  });\n}\n\n// Build XML structure\nlet xml = '<?xml version=\"1.0\" encoding=\"UTF-8\"?>\\n';\nxml += '<mxfile host=\"app.diagrams.net\" modified=\"' + new Date().toISOString() + '\" agent=\"n8n\" version=\"21.0.0\" type=\"device\">\\n';\nxml += '  <diagram id=\"' + (jsonData.id || '1') + '\" name=\"' + escapeXml(jsonData.name || 'Diagram') + '\">\\n';\nxml += '    <mxGraphModel dx=\"1422\" dy=\"794\" grid=\"1\" gridSize=\"10\" guides=\"1\" tooltips=\"1\" connect=\"1\" arrows=\"1\" fold=\"1\" page=\"1\" pageScale=\"1\" pageWidth=\"2000\" pageHeight=\"2000\" math=\"0\" shadow=\"0\">\\n';\nxml += '      <root>\\n';\nxml += '        <mxCell id=\"0\"/>\\n';\nxml += '        <mxCell id=\"1\" parent=\"0\"/>\\n';\n\n// Add all cells\ncells.forEach(cell => {\n  xml += '        <mxCell id=\"' + cell.id + '\"';\n  if (cell.value) xml += ' value=\"' + cell.value + '\"';\n  if (cell.style) xml += ' style=\"' + cell.style + '\"';\n  if (cell.parent) xml += ' parent=\"' + cell.parent + '\"';\n  if (cell.vertex) xml += ' vertex=\"1\"';\n  if (cell.edge) xml += ' edge=\"1\"';\n  if (cell.source) xml += ' source=\"' + cell.source + '\"';\n  if (cell.target) xml += ' target=\"' + cell.target + '\"';\n  xml += '>\\n';\n  \n  if (cell.geometry) {\n    xml += '          <mxGeometry';\n    if (cell.geometry.x !== undefined) xml += ' x=\"' + cell.geometry.x + '\"';\n    if (cell.geometry.y !== undefined) xml += ' y=\"' + cell.geometry.y + '\"';\n    if (cell.geometry.width !== undefined) xml += ' width=\"' + cell.geometry.width + '\"';\n    if (cell.geometry.height !== undefined) xml += ' height=\"' + cell.geometry.height + '\"';\n    if (cell.geometry.as) xml += ' as=\"' + cell.geometry.as + '\"';\n    if (cell.geometry.relative) xml += ' relative=\"1\"';\n    xml += '/>\\n';\n  }\n  \n  xml += '        </mxCell>\\n';\n});\n\nxml += '      </root>\\n';\nxml += '    </mxGraphModel>\\n';\nxml += '  </diagram>\\n';\nxml += '</mxfile>';\n\nreturn {\n  json: {\n    xml: xml,\n    fileName: 'pg_icepanel_c4.drawio'\n  }\n};"
      },
      "id": "convert-to-drawio",
      "name": "Convert to Draw.io XML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fileName": "={{ $json.fileName }}",
        "dataPropertyName": "xml",
        "options": {}
      },
      "id": "write-drawio-file",
      "name": "Write Draw.io File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Read JSON File": {
      "main": [
        [
          {
            "node": "Convert to Draw.io XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Draw.io XML": {
      "main": [
        [
          {
            "node": "Write Draw.io File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-20T06:00:00.000Z",
  "versionId": "1"
}
